
* {
font-family: 'Miriam Libre', sans-serif;

}

p {
font-family: 'Source Sans Pro', sans-serif;
}
	
	@media only screen and (min-width: 112.5em) {  }

	@media only screen and (max-width: 62em) {  }
	
	 @media only screen and (max-width: 48em) {
      
      .corosel {
      	margin-bottom: 1em !important;
      }
      

      #tesimage {
          
          height: 23em !important;  
          

        }

      .paket img {
          width: 100%;
          height: 6.25em !important;
      }

    }



	@media only screen and (max-width: 36em) { 

      .corosel {
        margin-bottom: 1em !important;
      }
        
     #t-small p {
        font-size: .5625em !important;
      }

      #t-small h1{
          font-size: 1.6em !important;
      }

      #tesimage {
          
          height: 16em !important;  
          

        }

       .title-head h1 {
       	font-size: 2em !important;
       }

      .paket img {
          width: 100%;
          height: 6.25em;
      }

      .btn {
        font-size: .7em !important;
      }

      .tes-tes {
        padding-top: 0 !important;
      }
      
    }
    
   
    
    
    
    



